@use "./variables.scss" as *;
@use "./mixins.scss" as *;

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

body {
  font-family: "Inter", sans-serif;
  background-color: $color-background;
  margin: 0px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.root {
  display: flex;
  height: 100vh;
  transition: transform 0.15s ease-in-out;
  overflow: hidden;

  @include mobile {
    transform: translateX(-$width-sidebar);
    overflow: unset;

    &.sidebar-open {
      transform: translateX(0);
      overflow: hidden;
    }
  }
}

.invisibleText {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
