@use "/src/style/variables.scss" as *;
@use "/src/style/mixins.scss" as *;

.todo {
  margin: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin: 8px 0px;
    padding: 0px;
    font-size: 1.2em;
    background: none;
    border: none;
  }

  input {
    margin: 8px 0px;
    padding: 0px;
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid $color-text;
    transition: border-bottom $animation-time ease-in-out;

    &:focus {
      outline: none;
      border-bottom: 2px solid $color-primary;
    }
  }

  .buttonList {
    display: flex;
    gap: 8px;
    margin-top: 8px;

    button {
      background: none;
      border: none;
      padding: 0px;
      width: 48px;
      height: 48px;
    }
  }

  p {
    margin: 0;
    font-size: 0.6em;
  }

  .completed {
    text-decoration: line-through;
  }

  .starred svg {
    fill: $color-starred;
  }
}
